@import 'partials/variables';

img {
  &.img-svg {
    display: none;
  }
  &.img-ie {
    display: block;
  }
}

.about-person {

  img {
    height: auto !important;
  }

}

@media all and (min-width: $grid-float-breakpoint) {

  .navbar {

    .container {

      .navbar-brand {
        margin-left: 16px;
      }

    }

    .navbar-nav {

      & > li {

        & > a {
          line-height: 40px;
        }

      }

      .dropdown-menu > li > a {
        padding: 20px 10px;
      }

    }

  }

  article {

    .outline {

      &.alignleft {
        margin: 0px 16px 32px 0px;
      }

    }

  }

}
