// Global

html, body {
  font-size: $font-size-base;
}

img {

  max-width: 100%;
  height: auto;

  &.img-ie {
    display: none;
  }

}

i.fa {
  &.left {
    margin-right: 0.25em;
  }
  &.right {
    margin-left: 0.25em;
  }
}

article {

  font-family: $font-family-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
  }

  ul, ol {
    margin-bottom: 0.75rem;
  }

  img,
  .outline {

    &.alignleft,
    &.aligncenter,
    &.alignright {
      display: block;
      margin: 0px auto 2rem;
    }

    &.content-image {
      margin-bottom: 0px;
    }

  }

}

.btn {

  font-weight: bold;

  &.content-btn {
    margin-bottom: 1rem;
    font-family: $font-family-sans-serif;
    text-decoration: none;
  }

}

p {

  a {

    color: $green;
    text-decoration: underline;

    &:hover {
      color: $green-dark;
    }

  }

}

ul {

  &.faqs-list {

    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li.qa {
      margin: 0px 0px 2rem;
    }

    ul {
      list-style-type: disc;
    }

    .question {
      margin-bottom: 1rem;
      font-size: 2rem;
      line-height: 1.2;
    }

  }

  &.pages-list {

    list-style-type: none;
    font-size: 1.25rem;

    a {
      text-decoration: underline;
    }

    ul {
      list-style-type: none;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
      border-left: 1px solid $green;
    }

  }

}

.allCapsSpace {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

h1 { font-size: $font-size-h1 * 0.65; }
h2 { font-size: $font-size-h2 * 0.65; }
h3 { font-size: $font-size-h3 * 0.65; }

.navbar-toggle {

  .icon-bar {

    height: 3px;

    +.icon-bar {
      margin-top: 8px;
    }

  }

}

.btn {
  text-shadow: 0px 0px 2px transparentize($black, 0.5);
  @extend .allCapsSpace;
}

.categories-list {

  padding: 0px;
  font-size: 0.75rem;
  text-transform: capitalize;

  &:before {
    content: 'Categories:';
    margin-right: 4px;
  }

  li {

    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {

      margin-right: 2px;

      &:after {
        content: ',';
      }

    }

  }

}

$header-padding-vertical: 0.5rem;
$header-logo-height: 2.5rem;
$header-total-height: ($header-padding-vertical * 2) + $header-logo-height;

body {
  padding-top: $header-total-height + 2rem;
}

header {

  .container {

    padding: 0px;

    .navbar-header,
    .navbar-collapse {
      margin: 0px 15px;
    }

  }

  .navbar {

    min-height: $header-total-height;
    margin: 0px;

    .navbar-collapse {
      border: 0px;
    }

  }

  .navbar-brand {

    padding: $header-padding-vertical 0px;
    height: $header-total-height;

    img.main-logo {
      height: $header-logo-height;
    }

  }

  .navbar-nav {

    & > li {

      a span.awrap {
        @extend .btn;
        @extend .btn-success;
      }

      li {

        i.fa {
          visibility: hidden;
        }

      }

    }

  }

  .navbar-toggle {

    margin: 0.75rem 0px;

    &:hover,
    &:active,
    &:focus {

      &::before {
        background-color: $navbar-default-toggle-hover-bg;
      }

    }

    &::before {
      content: 'Menu';
      z-index: 100;
      position: absolute;
      top: -1px;
      right: 100%;
      padding-left: 10px;
      color: $yellow;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      line-height: 34px;
      letter-spacing: 1px;
    }

  }

  .nav-extra {
    display: block;
    margin: 0px auto;
    max-width: 400px;
    border-radius: 0px;
  }

}

.location-bar {

  margin: 0px 1rem;
  font-size: 1.75rem;
  text-align: left;

  .location-title {

    display: block;
    color: $green;

    &:hover {
      text-decoration: none;
    }

    &:before {
      content: '\f041';
      margin-right: 0.5rem;
      font-family: 'FontAwesome';
      line-height: 1.5rem;
    }

    &:nth-child(even) {
      color: $blue;
    }

    &.intro {

      color: $black;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:before {
        content: '';
      }

    }

  }

}

$section-hero-margin-bottom: 1rem;

section.hero {

  padding: 3rem 0px;
  margin-bottom: $section-hero-margin-bottom;
  color: $white;
  background: {
    size: cover;
    position: center center;
    repeat: no-repeat;
  }

  &.relative {
    position: relative;
  }

  .hero-map {
    z-index: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  h1, h2, h3 {

    margin: 0px;
    text-shadow: 0px 0px 6px transparentize($black, 0.25);

    &.category-title {
      text-transform: capitalize;
    }

  }

  .btn {

    box-shadow: 0px 0px 5px 0px transparentize($black, 0.75);
    font-size: 17px;

    .free-highlight {
      text-shadow: none;
    }

  }

  &.pattern,
  &.about {
    background: {
      image: url('/images/backgrounds/steps_blue.jpg');
      repeat: repeat;
      position: center center;
      size: inherit;
    }
  }

  .page-template-template-home-php & {

    .btn {
      color: $green;
      text-shadow: none;
    }

    h1, h2, h3 {
      margin-bottom: 2rem;
      text-shadow: 0px 0px 15px $black;
    }

    .home-list {
      margin-top: 2rem;
      text-shadow: 0px 0px 7px $black;
    }

    .btn-testimonials {
      margin-top: 1rem;
    }

    .btn-primary {
      color: $white;
      background-color: $green;
      border-color: $green;
    }

  }

  .page-template-template-contact-php & {

    background-image: url('/images/backgrounds/map-large.jpg');

    h1 {
      color: $blue;
      text-shadow: none;
    }

  }

  .page-template-template-faqs-php & {
    background-image: url('/images/backgrounds/hand-mouse.jpg');
  }

  .page-template-template-about-us-php & {
    background-image: url('/images/backgrounds/skyline-blue.jpg');
  }

  .single-person & {
    padding: 3rem 0px;
  }

  .error404 & {
    background-image: url('/images/backgrounds/road-forest.jpg');
  }

}

.testimonial {

  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  &:after {
    position: absolute;
    content: ' ';
    bottom: 0px;
    left: 40%;
    right: 40%;
    height: 2px;
    background: $green;
  }

  .testimonial-quote {

    position: relative;
    font-size: 1.25rem;

    &:before,
    &:after {
      position: absolute;
      opacity: 0.2;
      font-family: Arial, sans-serif;
      font-size: 3rem;
      line-height: 1;
    }

    &:before {
      content: '\201C';
      top: 0px;
      left: -20px;
    }

    &:after {
      content: '\201D';
      bottom: 0px;
      right: -20px;
      line-height: 0.25;
    }

  }

  .testimonial-attribution {
    font-weight: bold;
    text-align: right;
  }

  .attributor-note {
    font-weight: normal;
  }

}

.alt-back {

  background: $gray-light;

  &.alt-back-contact {

    padding-top: 1rem;
    padding-bottom: 1rem;

    h3 {
      text-align: center;
    }

    .page-template-template-contact-php & {
      /*margin-left: -15px;
      margin-right: -15px;*/
    }

  }

  &.alt-back-contact-alt {

    background: $yellow;

    h3 {
      text-align: center;
    }

  }

}

.contact-links {

  margin-bottom: 1rem;
  font-family: $font-family-sans-serif;
  font-weight: bold;

  .contact-links-email {

    word-wrap: break-word;

    a {
      color: $green;
    }

  }

  .contact-links-phone {

    a {
      color: $blue;
    }

  }

}

.contact-block {

  clear: both;
  margin: 2rem 0px;
  padding: 1rem;
  background: $gray-light;
  text-align: center;

  .contact-title {
    margin-bottom: 0.5rem;
  }

  .contact-form-link {
    text-decoration: underline;
  }

  .contact-email-link {
    word-wrap: break-word;
    color: $green;
  }

  .contact-phone-link {
    color: $blue;
  }

}

.about-outline {

  padding: 2rem;
  background: $gray-light;
  font-size: 1.5rem;
  font-family: $font-family-sans-serif;

  ol {

    list-style-position: inside;
    margin: 0px;
    padding: 0px;

    li a {
      color: $green;
      text-decoration: underline;
    }

    li.current_page_item a {
      color: $blue;
      text-decoration: none;
    }

  }

  .outline-title {
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
  }

}

.ninja-forms-cont {

  .ninja-forms-required-items,
  .ninja-forms-req-symbol {
    display: none;
  }

  label {
    font-family: $font-family-sans-serif;
    @extend .allCapsSpace;
  }

  input[type="text"],
  textarea {
    @extend .form-control;
    color: $black;
    font-family: $font-family-sans-serif;
    resize: none;

    &.ninja-forms-mask {
      letter-spacing: 1px;
    }

  }

  .ninja-forms-mp-nav-wrap,
  .submit-wrap {
    text-align: center;
  }

  input[type="submit"] {

    @extend .btn;
    @extend .btn-success;
    display: inline-block;
    margin: 0px auto;
    padding-left: 1rem;
    padding-right: 1rem;

    &.ninja-forms-mp-prev {
      display: none !important;
    }

  }

  .list-checkbox-wrap.label-left ul li {
    float: none;
  }

  .ninja-forms-success-msg {
    color: $brand-success;
  }

  .ninja-forms-error-msg,
  .ninja-forms-field-error {

    color: $red;
    font-weight: bold;

    p {
      margin-top: 0.5rem;
    }

  }

  .ninja-forms-error-msg {
    margin-bottom: 1rem;
  }

  .ninja-forms-error {

    input {
      border: 1px solid $red;
    }

  }

}

.headshot-wrap {

  margin-bottom: 1rem;
  padding: 0px;

  img {
    display: block;
    margin: 0px auto;
  }

}

.person {

  .person-email {
    word-wrap: break-word;
  }

  .person-email,
  .person-phone {

    a {
      color: $white;
      font-size: 1rem;
    }

  }

}

.about-person {

  margin-bottom: 1rem;

  img {
    display: block;
    margin: 0px auto;
  }

}

.prev-next-wrap {

  .prev-next-item {
    margin: 8px 0px;
  }

}

.fullAddress {

  margin-top: 2rem;

  .contact-address-list & {

    margin: 0px 0px 2rem;

    .business-name {
      font-weight: bold;
    }

  }

}

footer {

  clear: both;
  padding: 2rem 0px;
  color: $brand-alt;
  background: $brand-primary;

  .fullAddress {

    a {
      color: $brand-alt;
    }

    .business-name {
      font-weight: bold;
    }

  }

  .fine-print {
    margin-top: 2rem;
    font-size: 0.625rem;
  }

  .footer-nav {

    margin-top: 1rem;

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    li {

      &.menu-item-123 { // Home link
        display: none;
      }

      margin: 0.5rem 0px;
      font-size: 1.25rem;

      a {
        color: $yellow;
      }

      &:nth-child(2n) a {
        color: $green;
      }

      &:nth-child(2n) li a {
        color: inherit;
      }

      ul {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: 1px solid transparentize($green, 0.5);
      }

      &.menu-item-52 ul { // Your Financial Future
        border-left-color: transparentize($yellow, 0.5);
      }

      li {

        display: block;

        &,
        &:nth-child(2n) {

          a {
            color: $brand-alt;
          }

        }

      }

    }

  }

  .image-license {

    a {
      color: $white;
    }

  }

}

.payment-block-wrap {
  margin-bottom: 2rem;
}

.payment-block {

  margin-bottom: 2rem;
  padding: 1rem 2rem;

  @media screen and (max-width: $screen-md - 1) {
    margin-top: 2rem;
  }

  h4 {
    text-align: center;
  }

}

// Larger Sizes

$header-padding-vertical: 1.5rem;
$header-padding-horizontal: 0.75rem;
$header-logo-height: 4rem;
$header-total-height: ($header-padding-vertical * 2) + $header-logo-height;
$header-nav-line-height: 2rem;
$header-accent-border: 2px solid $brand-success;
$section-hero-margin-bottom: 2rem;

@media all and (min-width: $grid-float-breakpoint) {

  body {
    padding-top: $header-total-height;
  }

  header {

    .navbar {

      min-height: $header-total-height;
      border-bottom: $header-accent-border;

      .container {

        position: relative;
        width: auto;

        .navbar-header,
        .navbar-collapse {
          margin: 0px;
        }

        .navbar-brand {
          margin-left: 1rem;
        }

        .navbar-right {
          margin-right: 0px;
        }

      }

    }

    .navbar-brand {

      padding: $header-padding-vertical 0px;
      height: $header-total-height;

      img.main-logo {
        height: $header-logo-height;
      }

    }

    .navbar-nav {

      li {

        &.menu-item-123 {
          display: none; // Home link
        }

        i.fa {

          margin-bottom: 2px;
          font-size: 1.25em;
          vertical-align: middle;

          &.left {
            margin-right: 0.35em;
          }

        }

        a {
          padding: $header-padding-vertical $header-padding-horizontal;
          line-height: $header-total-height - ($header-padding-vertical * 2);
        }

        ul {

          width: 100%;

          &.dropdown-menu {

            left: 0px;
            right: auto;
            padding: 0px;
            min-width: 200px;
            border-top: $header-accent-border;

            i.fa {
              visibility: visible;
              float: right;
              margin-right: -3px;
              font-size: 0.75rem;
              line-height: 1rem;
            }

            li:hover .dropdown-menu {
              display: block;
            }

            .dropdown-menu {

              display: none;
              top: -2px;
              left: 100%;
              right: auto;
              border: 1px solid $dropdown-border;

              a {
                white-space: normal;
              }

            }

          }

        }

        li {

          a {
            padding: 1rem;
            line-height: 1;
          }

        }

      }

    }

    .nav-extra {

      display: block;
      position: absolute;
      right: 0px;
      margin-top: 2px;
      margin-right: 1rem;
      padding: 0.5rem 1rem;

      text-shadow: none;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-top-width: 0px;
      box-shadow: 0px 1px 5px 0px transparentize($black, 0.75);
      line-height: 1.5rem;

      &,
      &:hover,
      &:active,
      &:visited {
        color: $blue;
      }

      .phone-number {

        color: $blue;
        text-shadow: none;

        &.primary {
          font-size: 1.375rem;
          line-height: 1.5rem;
        }

      }

      .call-now-tag {
        font-size: 0.9375em;
      }

    }

  }

  .page-template-template-home {

    section.hero.pattern {

      background: {
        image: url('/images/backgrounds/woman-pier-dark.jpg');
        position: center top;
        size: cover;
        repeat: no-repeat;
      }

      h1,
      .home-list {
        text-shadow: 0px 0px 4px $black;
      }

      .home-list {
        margin-top: 15rem;
        font-size: 1.5rem;
      }

      .btn-warning {

        color: $yellow;
        background-color: $blue;
        border-color: $blue;

        &.free-highlight {
          color: $yellow;
        }

      }

    }

  }

  .bbb-a-plus {
    display: block;
    margin: 0px auto 2rem;
    max-width: 30%;
  }

  .single-person section.hero {
    padding: 8rem 0px;
  }

  .location-bar {

    margin: -1rem 0px 1rem;
    text-align: center;

    .location-title {
      display: block;
      vertical-align: middle;
    }

  }

}

@media all and (min-width: $screen-sm) {

  h1 { font-size: $font-size-h1; }
  h2 { font-size: $font-size-h2; }
  h3 { font-size: $font-size-h3; }

  section.hero {

    padding: 6rem 0px;
    margin-bottom: $section-hero-margin-bottom;

    .page-template-template-home-php & {

      .btn {
        font-size: 22px;
      }

      .home-list {
        font-size: 2rem;
      }

    }

  }

  .alt-back {

    background: $gray-light;

    &.alt-back-contact {

      margin-top: 0px;
      margin-bottom: $section-hero-margin-bottom;

      .page-template-template-contact-php & {
        margin-left: 0px;
        margin-right: 0px;
      }

    }

  }

  .contact-links {
    font-size: 1.25rem;
  }

  .contact-block {

    .contact-title {
      font-size: 1.5rem;
    }

  }

  .about-outline {
    font-size: 2rem;
  }

  ul {

    &.pages-list {
      -webkit-column-count: 2;
    }

  }

  .headshot-wrap {
    padding: 0px 15px;
    margin-bottom: 0px;
  }

  footer {

    font-size: 0.875rem;

    .footer-nav {

      margin-top: 2rem;

      .menu-item-55,
      .menu-item-52 {
        float: left;
        width: 38%;
      }

      li {
        margin: 0px;
        font-size: 0.875rem;
      }

      .sub-menu {
        font-size: 0.75rem;
      }

    }

  }

  .location-bar {

    margin: -1rem 0px 1rem;
    text-align: center;

    .location-title {

      display: inline-block;
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: 2rem;
      }

    }

  }

}

@media all and (min-width: $screen-md) {

  section.hero {
    padding: 8rem 0px;
  }

  article {

    img,
    .outline {

      &.alignleft {
        float: left;
        margin: 0px 2rem 2rem 0px;
      }

      &.alignright {
        float: right;
        margin: 0px 0px 2rem 2rem;
      }

    }

  }

  .e-book-cover {
    margin-bottom: 20px;
  }

  footer {

    .footer-nav {
      margin-top: 0px;
    }

  }

}

@media all and (max-width: $screen-md - 1) {

  .alt-back-contact {
    clear: both;
  }

  .home-buttons-wrap {
    margin-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2;
  }

  .bbb-a-plus {
    display: block;
    margin: 0px auto 2rem;
    max-width: 30%;
  }

}

@media all and (max-width: 400px) {

  .home-buttons-wrap {
    margin: 0px;
  }

}

@media all and (min-width: $screen-md) {

  .alt-back-contact {
    min-height: 525px;
  }

}

@media all and (min-width: $screen-lg) {

  $header-padding-horizontal: 0.75rem;

  section.hero {

    padding: 10rem 0px;

    .page-template-template-home-php & {
      padding: 6rem 0px;
    }

  }

  header {

    .navbar {

      .container {
        width: $screen-lg - $grid-gutter-width;
      }

    }

    .navbar-nav {

      font-size: 1.125rem;

      li {

        &.menu-item-123 {
          display: block; // Home link
        }

        a {
          padding: $header-padding-vertical $header-padding-horizontal;
        }

      }

    }

  }

  .alt-back-contact {
    min-height: 525px;
  }

}

@media all and (min-width: $screen-lg) and (max-height: 700px) {

  section.hero {
    padding: 7rem 0px;
  }

}
