// Variables

// Colors
$black: #000000;
$gray: #bbbbbb;
$gray-light: lighten($gray, 20%);
$white: #ffffff;

$green: #539a59;
$green-dark: darken($green, 5%);
$yellow: #ffc040;
$blue: #004c66;
$blue-dark: darken($blue, 5%);
$red: #ff0000;

// Bootstrap
$brand-primary: $blue;
$brand-alt: $white;
$brand-alt2: $yellow;
$brand-alt3: $green;

$brand-success: $green;
$brand-warning: $yellow;

.green         { color: $green;     }
.yellow        { color: $yellow;    }

$font-family-sans-serif: 'jaf-bernino-sans', Helvetica, Arial, sans-serif;
$font-family-serif: 'cardo', serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$line-height-base: 1.5;

$font-size-h1: 3.5rem;
$font-size-h2: $font-size-h1 - 1.0rem;
$font-size-h3: $font-size-h2 - 0.5rem;
$font-size-h4: $font-size-h3 - 0.5rem;
$font-size-h5: $font-size-h4 - 0.5rem;
$font-size-h6: $font-size-h5 - 0.5rem;

$border-radius-base: 0.125rem;
$border-radius-large: 0.25rem;
$input-border-focus: $yellow;

$navbar-default-link-color: $brand-alt;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-bg: $brand-primary;
$navbar-default-link-active-bg: darken($brand-primary, 5%);
$navbar-default-border: $navbar-default-bg;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: $navbar-default-link-active-bg;
$navbar-default-toggle-icon-bar-bg: $navbar-default-link-color;
$dropdown-link-hover-bg: $gray-light;

$screen-md: 992px;
$screen-md-min: $screen-md;

$grid-float-breakpoint: $screen-md-min;
